body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

.navbar {
  position: fixed;
  height: 80px;
  overflow: hidden;
  top: 0;
  display: flex;
  align-items: center;
  background: #f1f1f1;
  width: 100%;
}

.logo {
  background: url(logo.png) no-repeat 50% 50%;
  background-size: contain;
  width: 180px;
  height: 70px;
  float: left;
}

.menu {
  position: absolute;
  right: 20px;
  max-height: 0;
}

.menu a {
  color: #333;
  text-decoration: none;
  font-weight: 700;
  margin-left: 20px;
  transition: color 0.3s;
  text-transform: uppercase;
}

.menu a:hover {
  color: #6ab04c;
}

.header {
  width: 100%;
  height: 600px;
  background: url(bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  margin-top: 80px;
}

.btn {
  display: none;
  position: absolute;
  right: 20px;
}

.btn span {
  display: block;
  margin: 6px;
  width: 40px;
  height: 3px;
  background: #333;
}

p {
  padding: 20px;
  font-size: 20px;
  text-align: justify;
}

@media only screen and (max-width: 800px) {
  .navbar {
    overflow: visible;
    /* navbar의 자식요소인 menu를 height: 80px 그 아래에 정렬 시킬 것이기 떄문에 hidden 에서 visible로 바꿔줘야한다. */
  }

  .menu {
    width: 100%;
    right: 0;
    top: 80px;
    background: #f1f1f1;
    overflow: hidden;
    max-height: 0;
  }
  /* width: 100%를 사용하여 화면이 작아졌을 때 메뉴의 크기가 가로로 다 채워지게 만드는데,
  여기서 right: 0을 하지 않은 경우 오른쪽이 비는 화면이 나온다.
  그 이유가 무엇일까? 위에보면 .menu에 적용시킨 것 중에 right: 20px를 사용한 것을 확인할 수 있다.
  따라서 right: 0을 해줘야 하는 것이다.
  top:80px을 주면서 navbar 아래에 위치하도록 만든것.*/

  .menu a {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 0;
  }
  /* display: block 을 주면서 조건이 만족했을 경우 
  메뉴들을 아래로 정렬하는 것처럼 보여진다.
  */

  .btn {
    display: block;
    cursor: pointer;
  }
  .show {
    max-height: 500px;
  }
}
